<div class="m-2">
  <button type="button" class="btn btn-primary" href="/Products">Back</button>
</div>
<div class="card d-flex justify-content-center">
  <form [formGroup]="registerForm" (ngSubmit)="save(registerForm)" class="form-group px-3 py-3">
        <!-- product items  -->
      <label for="prdName" class="mt-2">Product Name</label>
        <input type="text" class="form-control mx-2" placeholder="product Name" formControlName="prdName">
      

        <label for="price" class="mt-2">Product price</label>
        <input type="number" class="form-control mx-2" placeholder="" formControlName="price">
      
        <label for="quantity" class="mt-2">Product quantity</label>
        <input type="number" class="form-control mx-2" placeholder="" formControlName="quantity">
        
        <label for="description" class="mt-2">Product description</label>
        <input type="text" class="form-control mx-2" placeholder="" formControlName="description">
        <label for="description" class="mt-2">Product category</label>
        <select class="form-select" aria-label=" select category name" formControlName="category" [ngClass]="{error:getControl('category')?.errors&&getControl('category')?.touched}">
            <option *ngFor="let category of allcategory" [value]="category._id">{{category.catName}}</option>
        </select>
       
  
        <button class="btn btn-info text-center w-100 my-3" type="submit">Add</button>
      </form>
  </div>
  