<p>product-list works!</p>
<div class="row mt-3">
       
    <table class="table table-striped table-inverse table-responsive">
        <thead class="thead-inverse">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Image</th>   
                <th>Quantity</th>
                <th>Price</th>
                <th>transform</th>
                <th>quanity</th>
                <th>Details</th>
                <th>Buy</th>
            </tr>
        </thead>
        <tbody>
            <!-- <tr *ngFor="let product of ProductList" [hidden] ="product.quantity ==0" [class.d-none]="+selectedCat != product.categoryId" > -->
                <!-- <tr *ngFor="let product of productCat" [class.d-none]="+selectedCat != product.categoryId "  > -->
            <tr *ngFor="let product of allProduct , let i = index"  >
                <td>{{i+1}} </td>
                <td scope="row">{{product.prdName}}</td>
                <td scope="row">
                    <img LightBox = 'darkgray' defaultColor="lightblue" [src] = "product.image">
                </td> 
                <td #quantitynumber scope="row" >{{product.quantity}}</td>
                <td scope="row">{{product.price |currency :'USD'}}</td>
                <td scope="row">{{product.price * 33 |currency :'USD'}}</td>
                
                <td>
                    <input value="1" #itemCount class="form-control" type="number" >
                </td>
                <td>
                    <a class="btn btn-primary" [routerLink]="['/Products', product._id]">Details</a>
                </td>
                <td scope="row">
                    <button class="btn btn-primary" (click)="buy(product, itemCount.value)">Buy</button>
                </td>
            </tr>
        </tbody>
    </table>
    
</div>